html[dir="ltr"] .myAppDemoWt .myCustomButton .myCustomText {

    margin-right:0.125rem ;
}
html[dir="rtl"] .myAppDemoWt .myCustomButton .myCustomText {

    margin-left:0.125rem ;
}
.myAppDemoWt  .myCustomText {
    display: inline-block;
    font-weight: bold;
}